//Naviation Bar
#nav-menu {
  ul {
    display: flex;
    li {
      padding: 12px;
      &:hover {
        font-weight: bolder;
        background-color: #4a044e;
      }
    }
  }
}

.bg-tarot {
  // background: url('/site/tarot-bg.jpg') no-repeat center center fixed;
}
